{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h2>COMPETITION</h2>

        <!--    Tree tournament    -->
        <div class="row BracketSystem">

            <!--    --------------------------------------------8eme FINALE--------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-1">
                    <H3>1/8 FINALE</H3>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <!--Bouton Modal EQUIPE 1 -->
                                            <div class="button">
                                                <div class="BracketUnit-country"><img src="{{ team.flag_url }}" class="beforeModalFlag"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#team1">{{ team.nationality }}</a></div>
                                            </div>
                                        </div>

                                        <!-- Modal EQUIPE 1 -->
                                        <div class="modal fade" id="team1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">

                                                        <h2 class="inModalTitle"><img src="{{ team.flag_url }}" class="inModalFlag">{{ team.nationality }}</h2>
                                                        <div class="container">
                                                            <div class="row" id="blockJoueur1">
                                                                <div class="inModalPlayerContainer">
                                                                    <div class="inModalBlockPlayerPhoto">
                                                                        <p><img src="{{ player.photo_url }}"></p>
                                                                    </div>
                                                                        <h3>{{ player.pseudo }}</h3>
                                                                        <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="blockJoueur2">
                                                                <div class="inModalPlayerContainer">
                                                                        <div class="inModalBlockPlayerPhoto">
                                                                            <p><img src="{{ player.photo_url }}"></p>
                                                                        </div>
                                                                        <h3>{{ player.pseudo }}</h3>
                                                                        <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="blockJoueur3">
                                                                <div class="inModalPlayerContainer">
                                                                    <div class="inModalBlockPlayerPhoto">
                                                                        <p><img src="{{ player.photo_url }}"></p>
                                                                    </div>
                                                                    <h3>{{ player.pseudo }}</h3>
                                                                    <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row" id="blockJoueur4">
                                                                <div class="inModalPlayerContainer">
                                                                    <div class="inModalBlockPlayerPhoto">
                                                                        <p><img src="{{ player.photo_url }}"></p>
                                                                    </div>
                                                                    <h3>{{ player.pseudo }}</h3>
                                                                    <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="blockJoueur5">
                                                                <div class="inModalPlayerContainer">
                                                                    <div class="inModalBlockPlayerPhoto">
                                                                        <p><img src="{{ player.photo_url }}"></p>
                                                                    </div>
                                                                    <h3>{{ player.pseudo }}</h3>
                                                                    <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="blockJoueur6">
                                                                <div class="inModalPlayerContainer">
                                                                    <div class="inModalBlockPlayerPhoto">
                                                                        <p><img src="{{ player.photo_url }}"></p>
                                                                    </div>
                                                                    <h3>{{ player.pseudo }}</h3>
                                                                    <h5>{{ player.role }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                        <!-- Fin Modal EQUIPE 1-->

                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                </div>
            </div>

            <!--    ------------------------------------------1/4 FINALE-----------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-2">
                    <H3>1/4 FINALE</H3>

                    <!--    group    -->
                    <div class="Bracket-group one">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group two">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                </div>

            </div>

            <!--    ---------------------------------1/2 FINALE------------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-3">
                    <H3>1/2 FINALE</H3>

                <!--    group    -->
                <div class="Bracket-group">
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    arrow    -->
                    <div class="Bracket-arrow"></div>
                </div>

            </div>
            </div>

            <!--    ----------------------------FINALE----------------------------------   -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-4">
                    <H3>FINALE</H3>
                <!--    group    -->
                <div class="Bracket-group">
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    arrow    -->
                    <div class="Bracket-arrow"></div>
                </div>

            </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}