{% extends 'base.html.twig' %}


{%  block javascripts %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/tournoi.js"></script>
{% endblock %}


{% block body %}
    <div class="content">
        <h2>COMPETITION</h2>

        <!--    Tree tournament    -->
        <div class="row BracketSystem">

            <!--    --------------------------------------------8eme FINALE--------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-1">
                    <H3>1/8 FINALE</H3>

                    {% for i in 0..3 %}
                        <!--    group    -->
                        <div class="Bracket-group">
                            {% for j in 0..1 %}
                                {% set k=i+i+j %}
                                <!--    match    -->
                                <div class="Bracket-match">
                                    <div class="Bracket-summary">
                                        <div class="BracketMatch-unit">
                                            <!--    equipe infos    -->
                                            <div class="BracketUnit">
                                                <div class="BracketUnit-flag">{% if matchs[k].team1!="" %}<img src="{{ matchs[k].team1.flagUrl }}">{% endif %}</div>
                                                <div class="BracketUnit-clickable button">
                                                    <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team1{{ k }}">{% if matchs[k].team1!="" %}{{ matchs[k].team1.nationality }}{% endif %}</a></div>
                                                </div>
                                                <div class="BracketUnit-score">
                                                    <span>{{ matchs[k].score1 }}</span>
                                                </div>
                                            </div>
                                            <!--    equipe infos    -->
                                            <div class="BracketUnit">
                                                <div class="BracketUnit-flag">{% if matchs[k].team2!="" %}<img src="{{ matchs[k].team2.flagUrl }}">{% endif %}</div>
                                                <div class="BracketUnit-clickable button">
                                                    <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team2{{ k }}">{% if matchs[k].team2!="" %}{{ matchs[k].team2.nationality }}{% endif %}</a></div>
                                                </div>
                                                <div class="BracketUnit-score">
                                                    <span>{{ matchs[k].score2 }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="Bracket-details">
                                        <div class="BracketMatch-detailsTrigger match{{ k+1 }}">Match Details</div>
                                        <div class="BracketMatchReport">
                                            <div class="BracketMatchReport-list score_match{{ k+1 }}" style="display: none;">
                                                {% for playedMap in matchs[k].playedMaps %}
                                                    <div class="BracketMatchResult">
                                                        <div class="BracketMatchResult-score">{{ playedMap.score1 }}</div>
                                                        <div class="BracketMatchResult-map">{{ playedMap.map }}</div>
                                                        <div class="BracketMatchResult-score">{{ playedMap.score2 }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% endfor %}

                </div>
            </div>

            <!--    ------------------------------------------1/4 FINALE-----------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-2">
                    <H3>1/4 FINALE</H3>
                    {% for i in 4..5 %}
                    <!--    group    -->
                    <div class="Bracket-group one">
                        {% for j in 0..1 %}
                        {% set k=i+i+j %}
                            <!--    match    -->
                            <div class="Bracket-match">
                                <div class="Bracket-summary">
                                    <div class="BracketMatch-unit">
                                        <!--    equipe infos    -->
                                        <div class="BracketUnit">
                                            <div class="BracketUnit-flag">{% if matchs[k].team1!="" %}<img src="{{ matchs[k].team1.flagUrl }}">{% endif %}</div>
                                            <div class="BracketUnit-clickable button">
                                                <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team1{{ k }}">{% if matchs[k].team1!="" %}{{ matchs[k].team1.nationality }}{% endif %}</a></div>
                                            </div>
                                            <div class="BracketUnit-score">
                                                <span>{{ matchs[k].score1 }}</span>
                                            </div>
                                        </div>
                                        <!--    equipe infos    -->
                                        <div class="BracketUnit">
                                            <div class="BracketUnit-flag">{% if matchs[k].team2!="" %}<img src="{{ matchs[k].team2.flagUrl }}">{% endif %}</div>
                                            <div class="BracketUnit-clickable button">
                                                <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team2{{ k }}">{% if matchs[k].team2!="" %}{{ matchs[k].team2.nationality }}{% endif %}</a></div>
                                            </div>
                                            <div class="BracketUnit-score">
                                                <span>{{ matchs[k].score2 }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="Bracket-details">
                                    <div class="BracketMatch-detailsTrigger match{{ k+1 }}">Match Details</div>
                                    <div class="BracketMatchReport">
                                        <div class="BracketMatchReport-list score_match{{ k+1 }}" style="display: none;">
                                            {% for playedMap in matchs[k].playedMaps %}
                                                <div class="BracketMatchResult">
                                                    <div class="BracketMatchResult-score">{{ playedMap.score1 }}</div>
                                                    <div class="BracketMatchResult-map">{{ playedMap.map }}</div>
                                                    <div class="BracketMatchResult-score">{{ playedMap.score2 }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>

            </div>

            <!--    ---------------------------------1/2 FINALE------------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-3">
                    <H3>1/2 FINALE</H3>
                    {% set i=6 %}
                <!--    group    -->
                    <div class="Bracket-group">
                        {% for j in 0..1 %}
                        {% set k=i+i+j %}
                        <!--    match    -->
                            <div class="Bracket-match">
                                <div class="Bracket-summary">
                                    <div class="BracketMatch-unit">
                                        <!--    equipe infos    -->
                                        <div class="BracketUnit">
                                            <div class="BracketUnit-flag">{% if matchs[k].team1!="" %}<img src="{{ matchs[k].team1.flagUrl }}">{% endif %}</div>
                                            <div class="BracketUnit-clickable button">
                                                <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team1{{ k }}">{% if matchs[k].team1!="" %}{{ matchs[k].team1.nationality }}{% endif %}</a></div>
                                            </div>
                                            <div class="BracketUnit-score">
                                                <span>{{ matchs[k].score1 }}</span>
                                            </div>
                                        </div>
                                        <!--    equipe infos    -->
                                        <div class="BracketUnit">
                                            <div class="BracketUnit-flag">{% if matchs[k].team2!="" %}<img src="{{ matchs[k].team2.flagUrl }}">{% endif %}</div>
                                            <div class="BracketUnit-clickable button">
                                                <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team2{{ k }}">{% if matchs[k].team2!="" %}{{ matchs[k].team2.nationality }}{% endif %}</a></div>
                                            </div>
                                            <div class="BracketUnit-score">
                                                <span>{{ matchs[k].score2 }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="Bracket-details">
                                    <div class="BracketMatch-detailsTrigger match{{ k+1 }}">Match Details</div>
                                    <div class="BracketMatchReport">
                                        <div class="BracketMatchReport-list score_match{{ k+1 }}" style="display: none;">
                                            {% for playedMap in matchs[k].playedMaps %}
                                                <div class="BracketMatchResult">
                                                    <div class="BracketMatchResult-score">{{ playedMap.score1 }}</div>
                                                    <div class="BracketMatchResult-map">{{ playedMap.map }}</div>
                                                    <div class="BracketMatchResult-score">{{ playedMap.score2 }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

            <!--    ----------------------------FINALE----------------------------------   -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-4">
                    <H3>FINALE</H3>
                <!--    group    -->
                <div class="Bracket-group">
                    {% set k=14 %}
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag">{% if matchs[k].team1!="" %}<img src="{{ matchs[k].team1.flagUrl }}">{% endif %}</div>
                                    <div class="BracketUnit-clickable button">
                                        <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team1{{ k }}">{% if matchs[k].team1!="" %}{{ matchs[k].team1.nationality }}{% endif %}</a></div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>{{ matchs[k].score1 }}</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag">{% if matchs[k].team2!="" %}<img src="{{ matchs[k].team2.flagUrl }}">{% endif %}</div>
                                    <div class="BracketUnit-clickable button">
                                        <div class="BracketUnit-country"><a href="#" class="btn" data-toggle="modal" data-target="#team2{{ k }}">{% if matchs[k].team2!="" %}{{ matchs[k].team2.nationality }}{% endif %}</a></div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>{{ matchs[k].score2 }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger match{{ k+1 }}">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list score_match{{ k+1 }}" style="display: none;">
                                    {% for playedMap in matchs[k].playedMaps %}
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">{{ playedMap.score1 }}</div>
                                            <div class="BracketMatchResult-map">{{ playedMap.map }}</div>
                                            <div class="BracketMatchResult-score">{{ playedMap.score2 }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>

    </div>
    {% for k in 0..14 %}
        {% if matchs[k].team1!="" %}
            <div class="modal fade" id="team1{{ k }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">

                            <h2 class="inModalTitle"><img src="{{ matchs[k].team1.flagUrl }}" class="inModalFlag">{{ matchs[k].team1.nationality }}</h2>
                            <div class="container">
                                {% for l in 0..2 %}
                                    <div class="row" id="blockJoueur{{ l }}">
                                        <div class="inModalPlayerContainer">
                                            <div class="inModalBlockPlayerPhoto">
                                                <p><img src="{{ matchs[k].team1.players[l].photoUrl }}"></p>
                                            </div>
                                            <h3>{{ matchs[k].team1.players[l].pseudo }}</h3>
                                            <h5>{{ matchs[k].team1.players[l].role }}</h5>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="container">
                                {% for l in 3..5 %}
                                    <div class="row" id="blockJoueur{{ l }}">
                                        <div class="inModalPlayerContainer">
                                            <h3>{{ matchs[k].team1.players[l].pseudo }}</h3>
                                            <h5>{{ matchs[k].team1.players[l].role }}</h5>
                                            <div class="inModalBlockPlayerPhoto">
                                                <p><img src="{{ matchs[k].team1.players[l].photoUrl }}"></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            <!-- Fin Modal EQUIPE 1-->
            <!-- Modal EQUIPE 2 -->
            {% if matchs[k].team2!="" %}
            <div class="modal fade" id="team2{{ k }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">

                            <h2 class="inModalTitle"><img src="{{ matchs[k].team2.flagUrl }}" class="inModalFlag">{{ matchs[k].team2.nationality }}</h2>
                            <div class="container">
                                {% for l in 0..2 %}
                                    <div class="row" id="blockJoueur{{ l }}">
                                        <div class="inModalPlayerContainer">
                                            <div class="inModalBlockPlayerPhoto">
                                                <p><img src="{{ matchs[k].team2.players[l].photoUrl }}"></p>
                                            </div>
                                            <h3>{{ matchs[k].team2.players[l].pseudo }}</h3>
                                            <h5>{{ matchs[k].team2.players[l].role }}</h5>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="container">
                                {% for l in 3..5 %}
                                    <div class="row" id="blockJoueur{{ l }}">
                                        <div class="inModalPlayerContainer">
                                            <h3>{{ matchs[k].team2.players[l].pseudo }}</h3>
                                            <h5>{{ matchs[k].team2.players[l].role }}</h5>
                                            <div class="inModalBlockPlayerPhoto">
                                                <p><img src="{{ matchs[k].team2.players[l].photoUrl }}"></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
                
            {% endif %}
                <!-- Fin Modal EQUIPE 2-->


        {% endfor %}
{% endblock %}

{% block stylesheets %}


{% endblock %}