{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('../css/teamAdmin.css') }}">
{% endblock %}

{% block body %}
<div class="bodyAdminTeam">

<h1 class="titreTeamAdmin">Maps list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td><a href="{{ path('map_show', { 'id': map.id }) }}">{{ map.id }}</a></td>
                <td>{{ map.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('map_show', { 'id': map.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('map_edit', { 'id': map.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('map_new') }}">Create a new map</a>
        </li>
    </ul>
</div>
{% endblock %}
