{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('../css/teamAdmin.css') }}">
{% endblock %}

{% block body %}
<div class="bodyAdminTeam">

<h1 class="titreTeamAdmin">Map</h1>

    <table>
        <tbody>
            <tr>
                <th><div class="flagTitle">Id</div></th>
                <td>{{ map.id }}</td>
            </tr>
            <tr>
                <th><div class="flagTitle">Name</div></th>
                <td>{{ map.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('map_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('map_edit', { 'id': map.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
