{% extends 'admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('../css/teamAdmin.css') }}">
{% endblock %}

{% block body %}
<div class="bodyAdminTeam">
    <h1 class="titreTeamAdmin">Maptype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mapType.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ mapType.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('maptype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('maptype_edit', { 'id': mapType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
